.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 10vh;
  ;
}

.header>div{
    width: 100% ;
    outline: 1px solid grey;
    padding: 1vw;
    text-align: center;
}
