.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5vh;
  flex-direction: column;
}

.button {
  padding: 1vw;
  background-color: black;
  outline: none !important;
  border: 2px solid royalblue;
  border-radius: 20px;
  color: royalblue;
}

.button:hover {
  background-color: royalblue;
  color: black;
}

.results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 5vh;
}

.results > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  outline: 1px solid grey;
  padding: 1vw;
  text-align: center;
}
